</body>
</main>

<footer>
  <div class="container" id="idFooter">
    <% let date =  new Date().getFullYear(); %>
    <p class="nanum">David Kenneth Admana © <%=date%></p>
  </div>
</footer>
</body>

</html>